* {
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: center;
}

.nav-one {
	padding: 20px;
	background-color: #f8f8f8;
}

.nav-two {
	padding: 30px;
}

header {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

.top-nav {
	display: flex;
	justify-content: space-between;
}

.top-nav-links {
	display: flex;
}

.second-nav {
	display: flex;
	justify-content: space-between;
}

section {
	width: 1000px;
}

.main-banner div{
	text-align: center;
}

.product-categories {
	display: flex;
	justify-content: center;
	color: #ffffff;
}

.product-categories div {
	width: 450px;
	height: 200px;
	margin: 15px;;
	text-align: left;
	padding: 30px 30px;
}

.headsets {
	background-color: #3b3b3b;
}

.flying {
	background-color: #3386b4;
}

.gps {
	background-color: #4dafd9;
}

.featured-products {
	text-align: center;
	margin: 30px 0;
	font-size: 19px;
}

main section div{
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #3b3442;
}

.product a{
	background-color: #f8f8f8;
}
