* {
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: center;
}

header {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

.top-nav {
	display: flex;
	justify-content: space-between;
}

.top-nav-links {
	display: flex;
}

.second-nav {
	display: flex;
	justify-content: space-between;
}

section {
	width: 1000px;
}

.main-banner div{
	text-align: center;
}

.product-categories {
	display: flex;
	justify-content: center;
	color: #ffffff;
}

.product-categories div {
	width: 450px;
	height: 200px;
	margin: 15px;;
	text-align: left;
	padding: 30px 30px;
}

.headsets {
	background-color: #3b3b3b;
}

.flying {
	background-color: #3386b4;
}

.gps {
	background-color: #4dafd9;
}

.featured-products {
	text-align: center;
}

main section div{
	display: flex;
	justify-content: center;
}

.product a{
	background-color: #f8f8f8;
}
