* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	display: flex;
	justify-content: center;
}

.nav-one {
	padding: 20px;
	background-color: #f8f8f8;
}

.nav-two {
	padding: 30px;
}

nav input {
	padding: 6px;
}

header {
	display: flex;
	justify-content: center;
	background-color: #7a7a7a;
	color: #ffffff;
	padding: 100px;
}

main {
	display: flex;
	justify-content: center;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-nav-links {
	display: flex;
	align-items: center;
}

.top-nav-links a {
	padding: 0 10px;
}

.second-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-nav-links a {
	padding: 0 20px;
}

section {
	width: 85%;
}

.main-banner div{
	text-align: center;
}

.product-categories-container {
	display: flex;
	justify-content: center;
	margin: -80px 0 0;
}

.product-categories {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #ffffff;
}

.product-categories div {
	width: 250px;
	height: 180px;
	margin: 15px;;
	text-align: left;
	padding: 30px 30px;
}

.headsets {
	background-color: #3b3b3b;
}

.flying {
	background-color: #3386b4;
}

.gps {
	background-color: #4dafd9;
}

.featured-products {
	text-align: center;
	margin: 30px 0;
	font-size: 19px;
}

main section div.first-row{
	display: flex;
	justify-content: center;
}

main section div.second-row{
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #3b3442;
}

.product div {
	width: 200px;
	height: 270px;
	background-color: #f8f8f8;
}

.product p {
	width: 200px;
	margin: 30px 10px;
}

.dropdown {
	display: none;
}

.account-section {
	display: flex;
	justify-content:center;
	align-items: center;
}

.usd-cart {
	display: flex;
	justify-content:center;
	align-items: center;
}

form {
	display: flex;
	justify-content:center;
	align-items: center;
}

.new-top-nav {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	
	.phone-number {
		display: none;
	}
	
	.account-section {
		width: 100%;
	}
	.new-top-nav {
		width: 100%;
		justify-content: space-between;
	}
	
	.top-nav-links {
		flex-wrap: wrap;
	}
	
	.account-section:nth-of-type(1) { order: 2; }
	.usd:nth-of-type(1) { order: 2; }
	
	.second-nav-links {
		display: none;
	}
	
	.second-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.dropdown {
		display: block;
		border: 2px solid #000000;
		padding: 5px;
		width: 700px;
		height: 50px;
	}
	
	.first-row {
		display: flex;
		flex-direction: column;
	}
	
	.second-row {
		display: flex;
		flex-direction: column;
	}
	
	.product {
		display: flex;
	}
}
