* {
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
}

.top-nav {
	display: flex;
	justify-content: space-between;
}

.second-nav {
	display: flex;
	justify-content: space-between;
}

section {
	width: 1000px;
}